<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295245831860-gh7ajjsdbtj0k2n4s11l2ia02hsog502.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295245831860-gh7ajjsdbtj0k2n4s11l2ia02hsog502</string>
	<key>API_KEY</key>
	<string>AIzaSyDqSQ_WdCpA3w7J10tgMfkn54q3SYZl24o</string>
	<key>GCM_SENDER_ID</key>
	<string>295245831860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PickleRick.PlantDex</string>
	<key>PROJECT_ID</key>
	<string>plant-dex-9e9e8</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-dex-9e9e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295245831860:ios:9b4dd2c944c4cdd83941e1</string>
</dict>
</plist>